.map {
    width: 600px;
}

.placeholder {
    width: 50%;
    float: left;
    margin-right: 10px;
}

nav {
    background-color: rgb(236, 236, 236);
}
nav a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 9%;
    padding: 7px 0px;
    color:rgb(51, 34, 34);
    font-weight: bold;
    font-size: 15px;
    margin: 3px;
}
nav a:hover {
    color: rgb(57, 45, 41);
    background-color: rgb(204, 204, 204);
}

body {
    background-color: rgb(189, 197, 198);
    margin-left: 10%;
    margin-right: 10%;
    
}
/*Individual background colours for each page*/
.ablock {
    background-color: rgb(255, 217, 217);
}

.bblock {
    background-color: rgb(222, 222, 255);
}

.cblock {
    background-color: rgb(255, 242, 226);
}

main {
    background-color: rgb(249, 254, 255);
    padding: 10px;
    min-width:600px;
    min-height: 525px;
}

header {
    background-color: rgb(249, 254, 255);
    padding: 10px;
    min-width:600px;
}

h1 {
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

h3 {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    
}

a {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.logo {
    width: 100px;
    float: left; 
    padding-right: 3%;
    margin-top: 17px;
    margin-right: -100px;
}

.text {
    text-align: justify;
}

.indy {
    margin-left: 10%;
    margin-right: 10%;
}

